
html,
body {
  height: 100%;
}


body{
    background-image: url('images/login.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
}
#title{
    padding-top: 40px;
}
.body-content {

  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

#result-div{
    padding-top: 40px;
    
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
